PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=your_very_secret_key_here_change_this
JWT_SECRET_REFRESH_KEY=your_very_secret_refresh_key_here_change_this
TOKEN_EXPIRE_TIME=15m
TOKEN_REFRESH_EXPIRE_TIME=7d
BCRYPT_SALT_ROUNDS=10

LOG_LEVEL=log
MAX_LOG_SIZE=10485760

POSTGRES_USER=user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=home_library

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"